@page
@model Xpirit.BeerXchange.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Current beers</h2>

<p>
    <a asp-page="Add">Add beer to fridge or switch it for another</a>
</p>
<p>
    @{ if (Model.Credits > 0)
       {
           <a asp-page="Take">Take a beer if you have previously put one in</a>
       }
    }
</p>
<p>
    Beer Credits: @Model.Credits
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBeers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBeers[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBeers[0].Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBeers[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBeers[0].Picture)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CurrentBeers) {
        <tr>
            <td id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brewery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
        </tr>
}
    </tbody>
</table>

<h2>Fridge History</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].RemovedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricalBeers[0].RemovedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HistoricalBeers)
        {
            <tr>
                <td id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brewery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemovedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemovedBy)
                </td>
            </tr>
        }
    </tbody>
</table>
